.announcement-container {
  fontfamily: "Source Sans Pro";
  color: #160449;
}
.announcement-title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;

  font-weight: bold;
  font-size: 25px;
}
.announcement-title-icon {
  margin-left: 18px;
  margin-right: auto;
}
.announcement-title-emptybox {
  width: 19px;
  margin-right: 18px;
  margin-left: auto;
}

.announcement-location {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.announcement-location-icon {
  margin-right: 10px;
  padding-top: 5px;
}
.announcement-location-text {
  font-size: 11px;
  font-weight: bold;
}

.announcement-menu-container {
  display: flex;
  flex-direction: column;

  background-color: #f2f2f2;
  border-radius: 10px;
  margin-left: 25px;
  margin-right: 25px;
  align-items: center;
  justify-content: center;
}
.announcement-searchbar-container {
  display: flex;
  flex-direction: row;
  /* width: 90%; */
  /* background-color: #f2f2f2; */
  background-color: #e0e0e0;  
  /* background-color: red; */
  border-radius: 10px;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 10px;
  padding-left: 10px;
  align-items: center;
  justify-content: space-evenly;
}
.announcement-searchbar {
  display: flex;
  flex-direction: row;
  background-color: #a9aaab19;
  /* background-color: pink; */
  width: 100%;
  /* width: 90%; */
  /* height: 30px; */
  align-items: center;
  border-radius: 10px;
  /* margin-top: 12px; */
  /* padding-left: 20px; */
}
.searchbar-icon {
  margin: 8px;
}
.searchbar-text {
  color: #3d5cac32;
  font-size: 11px;
}
.searchbar-filter {
  margin-right: 8px;
  margin-left: auto;
}

.announcement-menu-bar {
  display: flex;
  flex-direction: row;
  color: #3d5cac;
  width: 100%;
}
.announcement-view {
  display: flex;
  flex-direction: row;
  margin-left: 5px;
  margin-right: auto;
  align-items: center;
  justify-content: center;
}
.announcement-view-icon {
  margin-right: 5px;
  margin-left: 5px;
}
.announcement-view-text {
  font-size: 12px;
  font-weight: bold;
}
.announcement-readall {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: 5px;
  align-items: center;
  justify-content: center;
}
.announcement-readall-text {
  font-size: 10px;
}

.announcement-category {
  /* background-color: red; */
  /* border: 1px solid #ddd; */
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  flex: 1 1 30%;
  box-sizing: border-box;
  transition: background-color 0.3s ease;
}

.announcement-list-container {
  /* background-color: red; */
  /* background-color: lightseagreen; */
  display: flex;
  flex-direction: column;
  /* width: 100%; */
}
.announcement-list-card {
  display: flex;
  flex-direction: row;
  /* background-color: #d9d9d932; */
  /* background-color: #e5e5e5; */
  background-color: #D6D5DA;
  /* background-color: burlywood; */
  /* box-shadow: 0px 1px 4px #00000019; */
  box-shadow: 1px 2px 8px #00000019;
  font-size: 15px;
  border-radius: 10px;
  font-weight: bold;
  margin-bottom: 10px;
  padding: 10px;
}
.announcement-read {
  background-color: #f2f2f2;
  font-weight: normal
  
}
.announcement-clicked {
  background-color: #9eaed6;
  font-weight: normal
}

.announcement-red{
  background-color: #f2f2f2;
  font-weight: normal
  
}

.announcement-list-container.clicked {
  background-color: blue;
}

.announcement-list-card-text-container {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.announcement-list-card-text-from {
}
.announcement-list-card-text-contents {
}
.announcement-list-card-text-date {
  color: #00000032;
  font-weight: normal;
}
.announcement-list-card-options {
  margin-left: auto;
  margin-right: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.announcement-list-card-picture {
  margin: 15px;
}

.search-filter-container {
  font-family: "Source Sans Pro";
  color: #160449;
}
