:root{
    --light-gray-bg:#F2F2F2;
}
.cf-widget-main{
    background-color: var(--light-gray-bg);
    display: block;
    margin: 0 auto;
    margin-top: 80px;
    width: 90%;
    height:150px;
    border-radius: 10px;
}

.cf-widget-title-info-container{
    position: relative;
    display: inline-block;
    padding-left: 10px;
    height:150px;
    width: 70%;
}

.cf-widget-title {
    font-family: 'Source Sans Pro';
    /* text-align: center; */
    color: #160449;
}

.cf-widget-info-cf, .cf-widget-info-revenue, .cf-widget-info-expenses {
    font-family: 'Source Sans Pro';
    color: #160449;
    font-weight: 800;
}