.contacts-title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 16px;
}

.contacts-title-text {
    font-size: 20px;
    font-weight: bold;
}

.contacts-subtext-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #3D5CAC;
    font-size: 14px;
    font-weight: bold;
}

.contacts-detail-subtext {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.contacts-subtext-select-icon {
    margin-right: 10px;
}

.contacts-detail-container {
    margin-left: 15px;
    margin-right: 15px;
}

.contacts-detail-background {
    position: relative;
    border-radius: 10px;
    box-shadow: 0px 4px 4px #00000019;
    background-color: #FFFFFF;
    z-index: 2;
    bottom: 30px;
}

.contacts-detail-selector-icon-left {
    margin-left: 10px;
    margin-right: auto;
}

.contacts-detail-selector-icon-text {
    font-size: 15px;
    font-weight: 600;
}

.contacts-detail-selector-icon-right {
    margin-left: auto;
    margin-right: 10px;
}

.contacts-detail-status-indicator {
    width: 100%;
    height: 20px;
    border-radius: 10px 10px 0 0;
}

.contacts-detail-navbar-box {
    position: relative;
    z-index: 1;
}

.contacts-detail-navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px #00000019;
}

.contacts-detail-text {
    color: #FFFFFF;
}

.property-rent-detail-info-container {
    display: flex;
    flex-direction: row;
    padding: 20px;
}